.text-bubble {
  position: relative;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #f1f0f0;
  color: #4a4a4a;
  font-size: 14px;
  line-height: 1.5;
  max-width: 300px;
}

.text-bubble:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent #f1f0f0 transparent transparent;
}

.display-text-bubble {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}


